<div class="parent">
    <div class="bgc-center">
        <div class="container">
          <div class="header">
            <h1><span class="l">R</span>EGISTER</h1>
          </div>
          <form>
            <label for="uname">FirstName</label>
            <input type="text" class="inp" name="uname" required>

            <label for="psw">LastName</label>
            <input type="password" class="inp" name="psw" required>

            <label for="uname">Date-Of-Birth</label>
            <input type="date" class="inp" name="uname" required>

            <label for="uname">Password</label>
            <input type="password" class="inp" name="uname" required>

            <label for="uname">Confirm Password</label>
            <input type="password" class="inp" name="uname" required>

            <label for="uname">Email</label>
            <input type="email" class="inp" name="uname" required>

            <label for="uname">Role</label>
            <input type="text" class="inp" name="uname" required>
            
            <button type="submit">Enter</button>
          </form>
          <div class="signup">
            <b>Already Have Account?</b>
            <a routerLink="/login">Login</a>
          </div>
        </div>
      </div>
</div>