<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="background-color: #466fe9b6 !important ">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <i class="bi bi-book fa-2x mx-2"></i>
            <a class="navbar-brand mt-2 mt-lg-0" routerLink="/homepage">
                Book Store Application
            </a>
           
        </div>

        <div class="d-flex align-items-center">
            @if (currentUser.email!='') {
            <button class="btn btn-info btn-sm mx-2">{{currentUser.email}}</button>
            <!-- Icon -->
            @if (currentUser.role=='USER') {
            <!-- <div class="card flex justify-center mx-2">
                <p-button routerLink="/orders"></p-button>
            </div>

            <div class="card flex justify-center mx-2">
                <p-button routerLink="/wishlist">WishList</p-button>
            </div> -->
            <button mat-button [matMenuTriggerFor]="menu">Options</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/orders">My Orders</button>
                <button mat-menu-item routerLink="/wishlist">WishList</button>
                <button mat-menu-item routerLink="/homepage">Home</button>
                <button mat-menu-item (click)="onLogOut()">Logout</button>
            </mat-menu>
            } @else if (currentUser.role==='ADMIN') {
                <button mat-button [matMenuTriggerFor]="menu">Options</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openAddBook()">Add-Book</button>
                    <button mat-menu-item >User-Orders</button>
                    <button mat-menu-item (click)="onLogOut()">Logout</button>
                </mat-menu>
            }
            
            }
            

            @if (currentUser.role=="USER") {
                <a class="link-secondary me-3">
                    <i class="bi bi-cart3 fa-2x mx-2 text-white" (click)="openDialog()"></i>
                </a>
                <div [className]="isPopUpOpen ? 'dropdown-menu dropdown-menu-end hide' : 'dropdown-menu dropdown-menu-end show'"
                    style="position: absolute;
               right: 15px;top:60px" aria-labelledby="navbarDropdownMenuAvatar">
                    <div class="row">
                        <div class="col-8">
                            <h6>Cart Items</h6>
                        </div>
                        <div class="col-4 text-end">
                            <i class="fa fa-close p-2" (click)="showCartPopUp()"></i>
                        </div>
                    </div>
                    <table class="table table-sm">
                        <tbody>
                            @for (item of cartData; track $index) {
                            <tr>
                                <td>
                                    <div class="rounded"
                                        style="background-image: url({{item.bookLogo}}); width: 60px; height: 60px; background-size: cover;">
                                    </div>
                                </td>
                                <td class="align-middle text-left">{{item.bookName}}</td>
                                <td class="align-middle text-center">{{item.quantity}} piece(s)</td>
                                <td class="align-middle text-right">{{item.totalPrice | currency:'INR'}}</td>
                                <td class="align-middle text-center">
                                    <a (click)="onRemoveProduct(item.cartId)" data-toggle="modal"
                                        data-title="Delete your product ?">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                            <tr>
                                <td colspan="4" class="align-middle text-right">Quantity</td>
                                <td class="align-middle text-right">{{cartService.cartTotalQuantity}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="align-middle text-right">Total</td>
                                <td class="align-middle text-right">{{cartService.cartTotalPrice| currency:'INR'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-sm btn-primary" [routerLink]="'create-order'"
                                (click)="isPopUpOpen = !isPopUpOpen">CheckOut</button>
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>
</nav>

<router-outlet />


<div id="myModal" class="modal" #addBook>
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD BOOK</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeAddBookModel()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form [formGroup]="bookForm">
                        <div class="col-12">
                            <label for="">Book Name</label>
                            <input type="text" formControlName="name" class="form-control">
                            @if(bookForm.controls["name"].touched){
                            <div class="text-danger">
                                @if (bookForm.controls["name"].errors?.['required']) {
                                <span>This is Required</span>
                                }
                                @if (bookForm.controls["name"].errors?.['pattern']) {
                                <span>Min 3 Characters Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-12">
                            <label for="">Book Author</label>
                            <input type="text" formControlName="author" class="form-control">
                            @if(bookForm.controls["author"].touched){
                            <div class="text-danger">
                                @if (bookForm.controls["author"].errors?.['required']) {
                                <span>This is Required</span>
                                }
                                @if (bookForm.controls["author"].errors?.['pattern']) {
                                <span>Min 5 Characters required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-12">
                            <label for="">Book Description</label>
                            <input type="text" formControlName="description" class="form-control">
                            @if(bookForm.controls["description"].touched){
                            <div class="text-danger">
                                @if (bookForm.controls["description"].errors?.['required']) {
                                <span>This is Required</span>
                                }
                                @if (bookForm.controls["description"].errors?.['pattern']) {
                                <span>Min 5 Characters Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-12">
                            <label for="">Book Price</label>
                            <input type="text" #price formControlName="price" class="form-control">
                            @if(bookForm.controls["price"].touched){
                            <div class="text-danger">
                                @if (bookForm.controls["price"].errors?.['pattern']) {
                                <span>Only Numbers are Required</span>
                                }
                                @if (bookForm.controls["price"].errors?.['required']) {
                                <span>This is Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-12">
                            <label for="">Book Quantity</label>
                            <input type="tel" formControlName="quantity" class="form-control">
                            @if(bookForm.controls["quantity"].touched){
                            <div class="text-danger">
                                @if (bookForm.controls["quantity"].errors?.['min']) {
                                <span>Min 16 books Required</span>
                                }
                                @if (bookForm.controls["quantity"].errors?.['required']) {
                                <span>This is Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-12">
                            <label for="">Book Logo</label>
                            <input type="text" formControlName="bookLogo" class="form-control">
                            @if(bookForm.controls["bookLogo"].touched){
                            <div class="text-danger">
                                @if (bookForm.controls["bookLogo"].errors?.['required']) {
                                <span>This is Required</span>
                                }
                            </div>
                            }
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="closeAddBookModel()">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="addNewBook()">Add</button>
            </div>
        </div>

    </div>
</div>