<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="background-color: #f19437b6 !important ">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div class="navbar" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <i class="bi bi-book fa-2x mx-2"></i>
      <a class="title" routerLink="/homepage">
        Book Store Application
      </a>

    </div>

    <div class="d-flex align-items-center">
      @if (currentUser.email!='') {
      <button mat-menu-item> <span><b>Hello, {{ currentUser.email }}</b></span> </button>
      <!-- Icon -->
      @if (currentUser.role=='USER') {
      <button mat-button [matMenuTriggerFor]="menu">Options</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/orders">My Orders</button>
        <button mat-menu-item routerLink="/wishlist">WishList</button>
        <button mat-menu-item routerLink="/homepage">Home</button>
        <button mat-menu-item (click)="onLogOut()">Logout</button>
      </mat-menu>
      } @else if (currentUser.role==='ADMIN') {
      <button mat-button [matMenuTriggerFor]="menu">Options</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddBook()">Add-Book</button>
        <button mat-menu-item>User-Orders</button>
        <button mat-menu-item (click)="onLogOut()">Logout</button>
      </mat-menu>
      }

      }


      @if (currentUser.role=="USER") {
      <a class="link-secondary me-3">
        <i class="bi bi-cart3 fa-2x mx-2 text-white" (click)="openDialog()"></i>
      </a>
      }
    </div>
  </div>
</nav>
<router-outlet />
