<div class="parent">
  <div class="bgc-center">
      <div class="container">
        <div class="header">
          <h1><span class="l">A</span>dmin</h1>
          <h1><span class="l">R</span>EGISTER</h1>
        </div>
        <form [formGroup]="registerForm">
          <label for="firstName">FName</label>
          <input type="text" class="inp" formControlName="firstName" name="firstName">
          @if (registerForm.controls['firstName'].touched) {
            <div class="text-danger">
              @if (registerForm.controls['firstName'].errors?.['required']) {
                <span>This is required</span>
              }
              @if (registerForm.controls['firstName'].errors?.['pattern']) {
                <span>First Should start with Capital and AtLeast contain 3 characters</span>
              }
            </div>
          }

          <label for="lastName">LastName</label>
          <input type="text" class="inp" formControlName="lastName" name="lastName">
          @if (registerForm.controls['lastName'].touched) {
            <div class="text-danger">
              @if (registerForm.controls['lastName'].errors?.['required']) {
                <span>This is required</span>
              }
              @if (registerForm.controls['lastName'].errors?.['pattern']) {
                <span>Last Name Should start with Capital and AtLeast contain 3 characters</span>
              }
            </div>
          }

          <label for="dob">Date Of Birth</label>
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob" name="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <label for="uname">Password</label>
          <input type="password" class="inp" formControlName="password" name="uname">
          @if (registerForm.controls['password'].touched) {
            <div class="text-danger">
              @if (registerForm.controls['password'].errors?.['required']) {
                <span>This is required</span>
              }
              @if (registerForm.controls['password'].errors?.['pattern']) {
                <span>Password should be atleast 8 Characters</span>
              }
            </div>
          }

          <label for="uname">Email</label>
          <input type="email" class="inp" formControlName="email" name="uname">
          @if (registerForm.controls['email'].touched) {
            <div class="text-danger">
              @if (registerForm.controls['email'].errors?.['required']) {
                <span>This is required</span>
              }
              @if (registerForm.controls['email'].errors?.['email']) {
                <span>Should be an Email</span>
              }
            </div>
          }

          <button type="submit" (click)="onSubmit()">Enter</button>
        </form>
        <div class="login">
          <b>Already Have Account?</b>
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
</div>
