<!-- <button class="btn btn-info" (click)="sortByPriceASC()">Sort By Price</button>
<button class="btn btn-info" (click)="sortByBookNameASC()">Sort By Bookname</button> -->
<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-end">
            <button mat-button [matMenuTriggerFor]="menu">Sort By</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="sortByBookNameASC()">BookName</button>
                <button mat-menu-item (click)="sortByPriceASC()">BookPrice</button>
                <button mat-menu-item (click)="sortByPriceASC()">AuthorName</button>
                <button mat-menu-item (click)="getAllBooks()">None</button>
            </mat-menu>
        </div>
        <div class="col-12">
            <div class="row mt-3">
                @for (item of bookList; track $index) {
                <div class="col-3 mt-3">
                    <div class="card product-card">
                        <img [src]="item.bookLogo" class="card-img-top product-image" alt="Product Image" />
                        @if (currentUser.role==='ADMIN') {
                            <span class="heart-badge">{{ item.bookId }}</span>
                        }@else {
                            <button [ngClass]="{ active: isBookPresent(item.bookId) }" class="btn btn-link"
                            (click)="onWishListClick(item.bookId)">
                            <i class="bi bi-heart-fill fa-2x mx-2" [ngClass]="'category-badge'"></i>
                        </button>
                        }
                        <!-- <span class="category-badge">{{item.author}}</span> -->
                        <div class="card-body">
                            <h2 class="card-title">{{ item.bookName | titlecase }}</h2>
                            <h6 class="card-title">{{ item.bookAuthor| titlecase }}</h6>
                            <p class="product-price">{{ item.bookPrice | currency : "INR" }}</p>
                            @if (currentUser.role=="ADMIN") {
                            <button class="add-to-cart-btn mx-2" (click)="onEditBook(item.bookId)">
                                Update
                            </button>
                            <button class="add-to-cart-btn mx-2 mt-2" (click)="onDeleteBook(item.bookId)">
                                Delete
                            </button>
                            }@else {
                            <button class="btn add-to-cart-btn" (click)="onAddToCart(item.bookId)">
                                Add to Cart
                            </button>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

<div class="modal" tabindex="-1" #editBook>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Book Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onEditClose()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="bookForm">
                    <div class="col-12">
                        <label for="">Book Name</label>
                        <input type="text" formControlName="bookName" class="form-control" />
                        @if(bookForm.controls["bookName"].dirty){
                        <div class="text-danger">
                            @if (bookForm.controls["bookName"].errors?.['required']) {
                            <span>This is Required</span>
                            } @if (bookForm.controls["bookName"].errors?.['pattern']) {
                            <span>Min 3 Characters Required</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <label for="">Book Author</label>
                        <input type="text" formControlName="bookAuthor" class="form-control" />
                        @if(bookForm.controls["bookAuthor"].dirty){
                        <div class="text-danger">
                            @if (bookForm.controls["bookAuthor"].errors?.['required']) {
                            <span>This is Required</span>
                            } @if (bookForm.controls["bookAuthor"].errors?.['pattern']) {
                            <span>Min 5 Characters required</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <label for="">Book Description</label>
                        <input type="text" formControlName="bookDescription" class="form-control" />
                        @if(bookForm.controls["bookDescription"].dirty){
                        <div class="text-danger">
                            @if (bookForm.controls["bookDescription"].errors?.['required']) {
                            <span>This is Required</span>
                            } @if (bookForm.controls["bookDescription"].errors?.['pattern']) {
                            <span>Min 5 Characters Required</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <label for="">Book Price</label>
                        <input type="text" #price formControlName="bookPrice" class="form-control" />
                        @if(bookForm.controls["bookPrice"].dirty){
                        <div class="text-danger">
                            @if (bookForm.controls["bookPrice"].errors?.['pattern']) {
                            <span>Only Numbers are Required</span>
                            } @if (bookForm.controls["bookPrice"].errors?.['required']) {
                            <span>This is Required</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <label for="">Book Quantity</label>
                        <input type="tel" formControlName="bookQuantity" class="form-control" />
                        @if(bookForm.controls["bookQuantity"].dirty){
                        <div class="text-danger">
                            @if (bookForm.controls["bookQuantity"].errors?.['min']) {
                            <span>Min 16 books Required</span>
                            } @if (bookForm.controls["bookQuantity"].errors?.['required']) {
                            <span>This is Required</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <label for="">Book Logo</label>
                        <input type="text" formControlName="bookLogo" class="form-control" />
                        @if(bookForm.controls["bookLogo"].dirty){
                        <div class="text-danger">
                            @if (bookForm.controls["bookLogo"].errors?.['required']) {
                            <span>This is Required</span>
                            }
                        </div>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onEditClose()">
                    Close
                </button>
                <button type="button" class="btn btn-success" (click)="onUpdateBook()">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>
