<mat-dialog-content>
  <div class="dialog-container">
    <h2 class="dialog-title">Add New Book</h2>
    <form [formGroup]="bookForm" class="book-form">
      <div class="form-group">
        <label for="bookName">Book Name</label>
        <input
          id="bookName"
          type="text"
          formControlName="bookName"
          class="form-control"
          placeholder="Enter Book Name"
        >
        @if(bookForm.controls["bookName"].touched){
        <div class="error-message">
          @if (bookForm.controls["bookName"].errors?.['required']) {
          <span>Book name is required</span>
          }
          @if (bookForm.controls["bookName"].errors?.['pattern']) {
          <span>Minimum 3 characters required</span>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="bookAuthor">Book Author</label>
        <input
          id="bookAuthor"
          type="text"
          formControlName="bookAuthor"
          class="form-control"
          placeholder="Enter Book Author"
        >
        @if(bookForm.controls["bookAuthor"].touched){
        <div class="error-message">
          @if (bookForm.controls["bookAuthor"].errors?.['required']) {
          <span>Book author is required</span>
          }
          @if (bookForm.controls["bookAuthor"].errors?.['pattern']) {
          <span>Minimum 5 characters required</span>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="bookDescription">Book Description</label>
        <input
          id="bookDescription"
          type="text"
          formControlName="bookDescription"
          class="form-control"
          placeholder="Enter Book Description"
        >
        @if(bookForm.controls["bookDescription"].touched){
        <div class="error-message">
          @if (bookForm.controls["bookDescription"].errors?.['required']) {
          <span>Book description is required</span>
          }
          @if (bookForm.controls["bookDescription"].errors?.['pattern']) {
          <span>Minimum 5 characters required</span>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="bookPrice">Book Price</label>
        <input
          id="bookPrice"
          type="text"
          formControlName="bookPrice"
          class="form-control"
          placeholder="Enter Book Price"
        >
        @if(bookForm.controls["bookPrice"].touched){
        <div class="error-message">
          @if (bookForm.controls["bookPrice"].errors?.['pattern']) {
          <span>Only numbers are allowed</span>
          }
          @if (bookForm.controls["bookPrice"].errors?.['required']) {
          <span>Book price is required</span>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="bookQuantity">Book Quantity</label>
        <input
          id="bookQuantity"
          type="tel"
          formControlName="bookQuantity"
          class="form-control"
          placeholder="Enter Book Quantity"
        >
        @if(bookForm.controls["bookQuantity"].touched){
        <div class="error-message">
          @if (bookForm.controls["bookQuantity"].errors?.['min']) {
          <span>Minimum 16 books required</span>
          }
          @if (bookForm.controls["bookQuantity"].errors?.['required']) {
          <span>Book quantity is required</span>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="bookLogo">Book Logo</label>
        <input
          id="bookLogo"
          type="text"
          formControlName="bookLogo"
          class="form-control"
          placeholder="Enter Book Logo URL"
        >
        @if(bookForm.controls["bookLogo"].touched){
        <div class="error-message">
          @if (bookForm.controls["bookLogo"].errors?.['required']) {
          <span>Book logo is required</span>
          }
          @if (bookForm.controls["bookLogo"].errors?.['maxlength']) {
            <span>Book Url should be less than 255 characters</span>
            }
        </div>
        }
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    mat-dialog-close
    color="primary"
    [disabled]="bookForm.invalid"
    (click)="addNewBook()"
  >
    Add Book
  </button>
  <button
    mat-button
    mat-dialog-close
  >
    Close
  </button>
</mat-dialog-actions>
