<div class="confirmation-container">
  <img src="assets/orderplaced.png" alt="orderPalced" class="img"/>
  <div class="confirmation-content">
    <h2>Hurray!!! your order is confirmed</h2>
    <p>
      The order id is <strong>#{{ orderId }}</strong> save the order id for
      further communication..
    </p>

    <table class="contact-table">
      <tr>
        <th>Email us</th>
        <th>Contact us</th>
        <th>Your Books will be delivered to this Address</th>
      </tr>
      <tr>
        <td>{{email}}</td>
        <td>+91 6301941367</td>
        <td>{{ address }}</td>
      </tr>
    </table>

    <button mat-button color="primary" (click)="continue()">
      CONTINUE SHOPPING
    </button>
  </div>
</div>
