<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row mt-3">
        @for (item of books; track $index) {
        <div class="col-3 mt-3">
          <div class="card product-card">
            <img [src]="item.bookLogo" class="card-img-top product-image" alt="Product Image" />
            <button [ngClass]="{ active: isBookPresent(item.bookId) }" class="btn btn-link"
              (click)="onWishListClick(item.bookId)">
              <i class="bi bi-heart-fill fa-2x mx-2" [ngClass]="'category-badge'"></i>
            </button>
            <div class="card-body">
              <h3 class="card-title">{{ item.bookName | titlecase }}</h3>
              <h6 class="card-author">By {{ item.bookAuthor | titlecase }}</h6>
              <p class="product-price">{{ item.bookPrice | currency : "INR" }}</p>
              <button class="btn add-to-cart-btn" (click)="onAddToCart(item.bookId)">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
