<div class="container">
  <div class="left-section">
    <img src="assets/BookStroreLogin.png" alt="Shopping Image" />
    <h2>ONLINE BOOK SHOPPING</h2>
  </div>
  <div class="right-section">
    <div class="form-header">
      <h2 [class.active]="isLogin" (click)="toggleForm()">LOGIN</h2>
      <h2 [class.active]="!isLogin" (click)="toggleForm()">SIGNUP</h2>
    </div>
    <div class="form-body">
      <!-- Login Form -->
      <form *ngIf="isLogin && !isForgotPassword" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <label for="uname">Email</label>
        <input type="email" class="inp" formControlName="email" name="uname">
        <div class="text-danger" *ngIf="loginForm.controls['email'].touched">
          <span *ngIf="loginForm.controls['email'].errors?.['required']">
            Email is required
          </span>
        </div>

        <label for="uname">Password</label>
        <input type="password" class="inp" formControlName="password" name="uname">
        <div class="text-danger" *ngIf="loginForm.controls['password'].touched">
          <span *ngIf="loginForm.controls['password'].errors?.['required']">
            Password is required
          </span>
        </div>

        <label class="forgot-password" (click)="toggleForgotPassword()">Forgot Password?</label>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>

      <!-- Signup Form -->
      <form *ngIf="!isLogin && !isForgotPassword" [formGroup]="registerForm" (ngSubmit)="handleSignup()">
        <label for="firstName">FirstName</label>
            <input type="text" class="inp" formControlName="firstName" name="firstName">
            @if (registerForm.controls['firstName'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['firstName'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['firstName'].errors?.['pattern']) {
                  <span>FirstName Should start with Uppercase</span>
                }
                @if (registerForm.controls['firstName'].errors?.['minlength']) {
                  <span>FirstName should atLeast contain 3 characters</span>
                }
              </div>
            }

            <label for="lastName">LastName</label>
            <input type="text" class="inp" formControlName="lastName" name="lastName">
            @if (registerForm.controls['lastName'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['lastName'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['lastName'].errors?.['pattern']) {
                  <span>LastName Should start with Uppercase</span>
                }
                @if (registerForm.controls['lastName'].errors?.['minlength']) {
                  <span>LastName should atLeast contain 3 characters</span>
                }
              </div>
            }

            <label for="dob">Date Of Birth</label>
              <input type="date" formControlName="dob" name="dob">

            <label for="uname">Password</label>
            <input type="password" class="inp" formControlName="password" name="uname">
            @if (registerForm.controls['password'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['password'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['password'].errors?.['pattern']) {
                  <span>
                    Password requires lowercase, uppercase, number, and special character with atleast 8 characters
                  </span>
                }
              </div>
            }

            <label for="uname">Email</label>
            <input type="email" class="inp" formControlName="email" name="uname">
            @if (registerForm.controls['email'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['email'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['email'].errors?.['email']) {
                  <span>Should be an Email</span>
                }
              </div>
            }
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
          Signup
        </button>
      </form>

      <!-- Forgot Password Form -->
      <form *ngIf="isForgotPassword" [formGroup]="forgotPasswordForm" (ngSubmit)="handleForgotPassword()">
        <ng-container *ngIf="!isPasswordResetStage">
          <label for="email">Enter Registered Email</label>
          <input type="email" class="inp" formControlName="email" name="email">

          <div class="text-danger" *ngIf="forgotPasswordForm.controls['email'].touched">
            <span *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">
              Email is required
            </span>
            <span *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">
              Should be a valid email
            </span>
          </div>

          <button mat-raised-button color="primary" type="submit" (click)="isUserExists()">
            Verify Email
          </button>
        </ng-container>

        <!-- Password Reset Stage -->
        <ng-container *ngIf="isPasswordResetStage">
          <label for="newPassword">New Password</label>
          <input type="password" class="inp" formControlName="newPassword" name="newPassword">

          <label for="confirmPassword">Confirm New Password</label>
          <input type="password" class="inp" formControlName="confirmPassword" name="confirmPassword">

          <div class="text-danger" *ngIf="forgotPasswordForm.get('newPassword')?.touched && forgotPasswordForm.get('newPassword')?.invalid">
            @if (forgotPasswordForm.get('newPassword')?.errors?.['required']) {
              <span>New Password is required</span>
            }
            @if (forgotPasswordForm.get('newPassword')?.errors?.['pattern']) {
              <span>
                Password requires lowercase, uppercase, number, and special character
              </span>
            }
          </div>

          @if (forgotPasswordForm.get('confirmPassword')?.touched && forgotPasswordForm.hasError('passwordMismatch')) {
            <div class="text-danger">
              Passwords do not match
            </div>
          }
          <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
            Reset Password
          </button>
        </ng-container>
      </form>
    </div>
  </div>
</div>
