<div class="container">
  <div class="left-section">
    <img src="assets/BookStroreLogin.png" alt="Shopping Image" />
    <h2>ONLINE BOOK SHOPPING</h2>
  </div>
  <div class="right-section">
    <div class="form-header">
      <h2 [class.active]="isLogin" (click)="toggleForm()">
        LOGIN
      </h2>
      <h2 [class.active]="!isLogin" (click)="toggleForm()">
        SIGNUP
      </h2>
    </div>
    <div class="form-body">
      <form *ngIf="isLogin" [formGroup]="loginForm" (ngSubmit)="handleLogin()">

        <label for="uname">Email</label>
        <input type="email" class="inp" formControlName="email" name="uname">
        @if (registerForm.controls['email'].touched) {
          <div class="text-danger">
            @if (registerForm.controls['email'].errors?.['required']) {
              <span>This is required</span>
            }
            @if (registerForm.controls['email'].errors?.['email']) {
              <span>Should be an Email</span>
            }
          </div>
        }

        <label for="uname">Password</label>
            <input type="password" class="inp" formControlName="password" name="uname">
            @if (registerForm.controls['password'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['password'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['password'].errors?.['pattern']) {
                  <span>Password should be atleast 8 Characters</span>
                }
              </div>
            }

        <label class="forgot-password">Forgot Password?</label>

        <button mat-raised-button color="primary" type="submit">
          Login
        </button>
      </form>

      <form *ngIf="!isLogin" [formGroup]="registerForm" (ngSubmit)="handleSignup()">
        <label for="firstName">FirstName</label>
            <input type="text" class="inp" formControlName="firstName" name="firstName">
            @if (registerForm.controls['firstName'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['firstName'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['firstName'].errors?.['pattern']) {
                  <span>First Name Should start with Capital and AtLeast contain 3 characters</span>
                }
              </div>
            }

            <label for="lastName">LastName</label>
            <input type="text" class="inp" formControlName="lastName" name="lastName">
            @if (registerForm.controls['lastName'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['lastName'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['lastName'].errors?.['pattern']) {
                  <span>Last Name Should start with Capital and AtLeast contain 3 characters</span>
                }
              </div>
            }

            <label for="dob">Date Of Birth</label>
              <input type="date" formControlName="dob" name="dob">

            <label for="uname">Password</label>
            <input type="password" class="inp" formControlName="password" name="uname">
            @if (registerForm.controls['password'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['password'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['password'].errors?.['pattern']) {
                  <span>Password should be atleast 8 Characters</span>
                }
              </div>
            }

            <label for="uname">Email</label>
            <input type="email" class="inp" formControlName="email" name="uname">
            @if (registerForm.controls['email'].touched) {
              <div class="text-danger">
                @if (registerForm.controls['email'].errors?.['required']) {
                  <span>This is required</span>
                }
                @if (registerForm.controls['email'].errors?.['email']) {
                  <span>Should be an Email</span>
                }
              </div>
            }

        <button mat-raised-button color="primary" type="submit">
          Signup
        </button>
      </form>
    </div>
  </div>
</div>
